# Local configuration files
local.properties
project.properties

# Android Studio
.gradle
.idea
*.iml
build/
captures/
app/build
app/manifest*report.txt
app/*.apk

# Eclipse
.classpath
.project
.settings/
